### ASSIGNMENT No. 2: Customer Product Analysis (Using Joins)
Dataset: customers.csv, sales_data.csv

### Tasks:
1. Write a JOIN query to show customer name, product, and region.

2. Count how many products each customer has purchased.

3. Get all female customers who made a purchase greater than ₹1000.

4. Identify cities with the highest total purchase amount.

In [0]:
create database customers;
use customers;

In [0]:
create table customers_data (
customer_id VARCHAR(20) , 
name VARCHAR(20) ,
gender VARCHAR(1) ,
city VARCHAR(20)
);

In [0]:
INSERT INTO customers_data VALUES 
('C001', 'Ravi', 'M', 'Mumbai'),
('C002', 'Priya', 'F', 'Delhi'),
('C003', 'Arjun', 'M', 'Bangalore');

In [0]:
SELECT * FROM customers_data;

In [0]:
use customers;

In [0]:
CREATE TABLE sales_data (
  sale_id INT,
  customer_id STRING,
  product STRING,
  amount INT,
  sale_date DATE,
  region STRING
);

In [0]:
INSERT INTO sales_data (sale_id, customer_id, product, amount, sale_date, region) VALUES
  (101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
  (102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
  (103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
  (104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
SELECT * FROM sales_data;

In [0]:
desc sales_data;

In [0]:
desc customers_data;

In [0]:
-- 1. Write a JOIN query to show customer name, product, and region.

SELECT cd.name, sd.product, sd.region
FROM customers_data cd
JOIN sales_data sd ON cd.customer_id = sd.customer_id;

In [0]:
-- 2. Count how many products each customer has purchased.

SELECT cd.name, COUNT(sd.product) AS total_products_purchased
FROM customers_data cd
JOIN sales_data sd ON cd.customer_id = sd.customer_id
GROUP BY cd.name;

In [0]:
-- 3. Get all female customers who made a purchase less than ₹1000.

SELECT DISTINCT cd.name
FROM customers_data cd
JOIN sales_data sd ON cd.customer_id = sd.customer_id
WHERE cd.gender = 'F'
  AND sd.amount < 1000;

In [0]:
-- 4. Identify cities with the highest total purchase amount.

SELECT cd.city, SUM(sd.amount) AS total_purchase
FROM customers_data cd 
JOIN sales_data sd ON cd.customer_id = sd.customer_id
GROUP BY cd.city
ORDER BY total_purchase DESC;